{% extends "base.html" %}
{% block title %}ETLF - Iniciar Sesión{% endblock %}
{% block content %}
<div class="login-container"  style="height: 70vh; min-height: 70px;">
    <div class="login-card">
        <div class="login-header">
            <h2><i class="bi bi-shield-lock"></i> ET Las Flores - version 4.0.1</h2>
            <p class="mb-0">Por favor, inicie sesión</p>
        </div>
        <div class="login-body">
            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">
                        <i class="bi bi-person"></i> Usuario
                    </label>
                    <input type="text" class="form-control" id="username" name="username" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        <i class="bi bi-key"></i> Contraseña
                    </label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}